DATABASE_URI = postgres://user:password@localhost:5432/digiscan
DATABASE_NAME = digiscan
DATABASE_USER = user
DATABASE_PASSWORD = password
DATABASE_HOST = localhost
DATABASE_PORT = 5432

TEST_DATABASE_URI = postgres://testuser:password@localhost:5432/digiscan
TEST_DATABASE_NAME = digiscan
DATABASE_TESTER = testuser
DATABASE_TESTER_PASSWORD = password
TEST_DATABASE_HOST = localhost
TEST_DATABASE_PORT = 5432 

DEVELOPMENT_DATABASE_URI = postgres://developer:password@localhost:5432/digiscan
DEVELOPMENT_DATABASE_NAME = digiscan
DATABASE_DEVELOPER = developer
DATABASE_DEVELOPER_PASSWORD = password
DEVELOPMENT_DATABASE_HOST = localhost
DEVELOPMENT_DATABASE_PORT = 5432

EXPRESS_PORT = port_number_here

JWT_SECRET = change_me_in_prod